@import url('https://fonts.googleapis.com/css2?family=Marianne:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Marianne', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  @apply bg-gray-50 text-gray-900;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Marianne', sans-serif;
}